@using PagedList.Mvc
@model PagedList.IPagedList<Blog42.Models.Post>
@{
    ViewBag.Title = "Postagens";
}

@if (ViewBag.search != null && ViewBag.search != "") // Se foi feita uma busca por postagens
{  
    // Altera o título
    ViewBag.Title = "Resultados para: " + ViewBag.search;
    
    <div class="jumbotron center">
        <span>Exibindo resultados para: <i><b>@ViewBag.search</b></i></span>
    </div>
}

@if (Model.Count == 0) // Se não encontrou registros
{ 
    
    <div class="jumbotron">
        <div class="col-md-12 center">
            <h2 class="separator b">Ooooooh noooouuuu!</h2>
            <h3 class="separator">Infelizmente nada foi encontrado :( </h3>
        </div>    
    </div>

}
else // Se encontrou postagem, lista-as
{
    foreach (var post in Model) // insere as postagens
    {
        <div class="jumbotron">
            <div class="box-title">
                <h2 class="title"><a href="@Url.Action("Show","Post", new { id = post.Id })" title="@post.Title">@post.Title</a></h2>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    @post.User.Name
                </span>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    @post.CreatedAt.ToString("dd/MM/yyyy") às @post.CreatedAt.ToString("HH:mm")h
                </span>
                @if (post.LastUpdateAt != null)
                {
                    string date = @Convert.ToDateTime(post.LastUpdateAt).ToString("dd/MM/yyyy");
                    string time = @Convert.ToDateTime(post.LastUpdateAt).ToString("HH:mm")+"h";
                    <span class="subtitle">
                        <i>Atualizado em  @date às @time</i>
                    </span>
                }
                <span class="subtitle">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <a href="@Url.Action("Show","Post", new { id = post.Id })#comments" title="Ir para comentários">
                        @post.Comment.Count.ToString() @Blog42.Helpers.PluralHelper.SimplePluralize("comentário", post.Comment.Count)
                    </a>
                </span>
            </div>
            <div class="content post">
                @Html.Raw(@post.Content)
            </div><!-- /.content -->
            <div class="clearfix separator-bottom"></div>
        </div><!-- /.jumbotron -->
    }

    // Insere paginação
    if (Model.HasNextPage || Model.HasPreviousPage)
    {
        <div class="center separator-bottom">
            @Html.PagedListPager(Model, (page) => Url.Action("Index", new { page = page, search = @ViewBag.search }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    }
}