@{
    ViewBag.Title = "Postagens";
}

@if (ViewBag.Posts.Count == 0)
{ // Se não encontrou registros
    
    <div class="jumbotron">
        <div class="col-md-12 center">
            <h2 class="separator b">Ooooooh noooouuuu!</h2>
            <h3 class="separator">Infelizmente ainda não temos postagens :( </h3>
        </div>    
    </div>

}
else // Se encontrou postagem, lista-as
{
    foreach (var post in ViewBag.Posts) // insere as postagens
    {
        <div class="jumbotron">
            <div class="box-title">
                <h2 class="title"><a href="@Url.Action("Show","Post", new { id = post.Id })" title="@post.Title">@post.Title</a></h2>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    @post.User.Name
                </span>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    @post.CreatedAt.ToString("dd/MM/yyyy")
                </span>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    @post.CreatedAt.ToString("HH:mm")h
                </span>
                <span class="subtitle">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <a href="@Url.Action("Show","Post", new { id = post.Id })#comments" title="Ir para comentários">
                        @post.Comment.Count.ToString() @Blog42.Helpers.PluralHelper.SimplePluralize("comentário", post.Comment.Count)
                    </a>
                </span>
            </div>
            <div class="content">
                @Html.Raw(@post.Content)
            </div><!-- /.content -->
        </div><!-- /.jumbotron -->
    }
}