@model Blog42.Models.UserResetPassword

@{
    ViewBag.Title = "Cadastrar Senha";
}

<div class="jumbotron">

    <div class="box-title">
        <h2 class="title">Olá, @User.Identity.Name. Vamos cadastrar sua nova senha?</h2>
    </div>
    <div class="content">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div id="box-login">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="row buttons">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-lg">Cadastrar Senha</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Logout","User")'">Sair e Cadastrar Depois</button>
                </div>
            </div>
        </div>
    }

    </div><!-- /.content -->
</div><!-- /.jumbotron -->