@model Blog42.Models.UserResetPassword
@{
    // Titulo, caso formulário "Cadastrar Senha", caso sucesso "Senha Cadastrada"
    ViewBag.Title = (ViewBag.Success == null) ? "Cadastrar Senha" : "Senha Cadastrada";
}

<div class="jumbotron">

    <div class="box-title">
        <h2 class="title">
            Olá, @User.Identity.Name!

            @if (ViewBag.Success == null) { // Exibe mensagem no título apenas na exibição do formulário
                <text>Vamos cadastrar sua nova senha?</text>
            }
        </h2>
    </div>
    <div class="content">

        @if (ViewBag.Success != null) // Se obteve sucesso, exibe mensagem
        {
            <div class="div-success">
                <h2 class="msg-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Senha cadastrada com sucesso!
                </h2>
                <br />
                @Html.ActionLink("Ir para o Painel Administrativo", "All", "Post")
            </div>
        }
        else // Senao, monta formulário
        {
            <div id="box-reset">
            @using (Html.BeginForm()) // Cria formulário
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div class="row buttons">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-lg">Cadastrar Senha</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Logout","User")'">Sair e Cadastrar Depois</button>
                    </div>
                </div>
            }
            </div><!--/#box-reset-->
        }

    </div><!-- /.content -->
</div><!-- /.jumbotron -->