<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Blog 42</title>
        @Html.Partial("_ContentHead")
    </head>
    <body>
        @Html.Partial("_ContentTop")

        <div class="container">
            @RenderBody()      
        </div> <!-- /container -->

        @Html.Partial("_ContentBottom")
        @RenderSection("scripts", required: false)
</body>
</html>
