<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Blog 42</title>
    @Html.Partial("_ContentHead")
</head>
<body>
    @Html.Partial("_ContentTop")

    <div class="container">
        <div class="jumbotron">

            <!-- Titulo e Menu -->
            @Html.Partial("_PanelTitle")
            @Html.Partial("_PanelTabs")
            
            <!-- Início Conteúdo da Tab-->
            <div class="tab-content">
                @RenderBody()
            </div>
            <!-- Fim Conteúdo da Tab-->

        </div><!-- /.jumbotron -->
    </div> <!-- /container -->

    @Html.Partial("_ContentBottom")
    @RenderSection("scripts", required: false)
</body>
</html>