@{
    ViewBag.Title = "Postagens";
}

<div class="jumbotron">
    
    <!-- Titulo e Menu -->
    @Html.Partial("_PanelTitle")
    @Html.Partial("_PanelTabs")
    
    <div class="tab-content">
    <!-- Início Conteúdo da página -->
    
            Todos as Postagens
            <br /><br /><br />
            @Html.ActionLink("Nova Postagens", "New", "Post")<br />
            @Html.ActionLink("Editar Postagem 1", "Edit", "Post", new { Id = 1 }, null)<br />
            @Html.ActionLink("Excluir Postagem 1", "Delete", "Post", new { Id = 1 }, null)<br />
            @Html.ActionLink("Mostrar Postagem 1", "Show", "Post", new { Id = 1 }, null)<br />
    
    <!-- Fim Conteúdo da página -->
    </div>
</div><!-- /.jumbotron -->