@{
    ViewBag.Title = ViewBag.Post.Title;
}

<div class="jumbotron">
    <div class="box-title">
        <h2 class="title">
            @ViewBag.Post.Title
            @if (ViewBag.canDelete != null) // Verifica se insere botão de exclusão na postagem
            {
                <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Delete", "Post", new { Id = ViewBag.Post.Id })'">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            }        
        </h2>
        <span class="subtitle">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            @ViewBag.Post.User.Name
        </span>
        <span class="subtitle">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            @ViewBag.Post.CreatedAt.ToString("dd/MM/yyyy")
        </span>
        <span class="subtitle">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            @ViewBag.Post.CreatedAt.ToString("HH:mm")
        </span>
        <span class="subtitle">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            @ViewBag.Post.Comment.Count.ToString() @Blog42.Helpers.PluralHelper.SimplePluralize("comentário", ViewBag.Post.Comment.Count)
        </span>
    </div>
    <div class="content"><!-- content post-->
        @ViewBag.Post.Content
    </div><!-- /.content -->

    <div class="content"><!-- content comments-->
        <a name="comments" class="link-named">&nbsp;</a>
        <h2 class="title">Comentários (@ViewBag.Post.Comment.Count.ToString())</h2>

        @if (ViewBag.Post.Comment.Count == 0) // Se não tiver comentário, exibe mensagem que não tem comentários
        { 
            <div class="separator-only-vertical">
                <span>Ér, nenhuma comentário. Acho que ninguém passou por aqui, né?</span>
            </div>
        }
        else // Se tiver, exibe-os
        {
            foreach (var comment in ViewBag.Post.Comment)
            {
                <a name="comment-@comment.Id" class="link-named"></a>
                <div class="box-comment panel separator-only-vertical">
                    <div>
                        @if (comment.Email == null || comment.Email == "") // Se usuário tiver email cria nome com link para email
                            { <span><b>@comment.Author</b> disse:</span> }
                        else
                            { <span><a class="b" target="_blank" href="@String.Concat("mailto:",comment.Email)">@comment.Author</a> disse:</span> }

                        @if (ViewBag.canDelete != null) // Verifica se insere botão de exclusão no comentário
                        { 
                            <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Delete", "Comment", new { Id = comment.Id })'">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        }
                    </div>
                    <div>
                        <i>@comment.Comment1</i>
                    </div>
                </div>
            }

            <div class="box-comment panel separator-only-vertical">
                <a name="new-comment" class="link-named"></a>
                <h1 class="title-black">
                    <span class="glyphicon glyphicon-send"></span>&nbsp; Por Zarquon, Deixe-nos um comentário?
                </h1>
                <hr />
                <span>A improbabilidade gerada pelo seu comentário após o meu pedido fará bem à nave coração de ouro!</span>

                <div class="row">
                    <div class="col-md-8">
                        <label>Nome:</label>
                        <input type="text" class="form-control input-lg" />
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-8">
                        <label>E-mail: (opcional)</label>
                        <input type="text" class="form-control input-lg" />
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-12">
                        <label>Comentário:</label>
                        <textarea type="text" class="form-control input-lg no-resize"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center">
                        <button type="button" class="separator-only-vertical btn btn-primary btn-lg">Publicar comentário</button>
                    </div>
                </div>    

            </div>
        }
        
    </div><!-- /.content -->
</div><!-- /.jumbotron -->