@using PagedList.Mvc
@model PagedList.IPagedList<Blog42.Models.Comment>
@{
    ViewBag.Title = "Comentários";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; // Layout para páginas do painel de controle administrativo
}

<table class="table table-striped grid-table">

    @if (Model.Count == 0)
    { // Se não encontrou registros
        <thead>
            <tr>
                <td>Nenhum comentário encontrado.</td>
            </tr>
        </thead>
    }
    else // Se encontrou registros, lista-os
    {
        <thead>
            <tr>
                <th>Postagem</th>
                <th>Comentário</th>
                <th>Autor</th>
                <th>E-mail</th>
                <th>Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td><b class="th">Postagem:</b> @comment.Post.Title</td>
                    <td><b class="th">Comentário:</b> @comment.Comment1</td>
                    <td><b class="th">Autor:</b> @comment.Author</td>
                    <td><b class="th">Email:</b> @comment.Email</td>
                    <td><b class="th">Criado em:</b> @comment.CreatedAt.ToString("dd/MM/yyyy") às @comment.CreatedAt.ToString("HH:mm")h</td>
                    <td class="grid-action">
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Delete", "Comment", new { Id = comment.Id })'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@if (Model.HasNextPage || Model.HasPreviousPage) // Insere paginação
{
    <div class="row pagination-panel-control">
        <div class="col-md-12 center">
            @Html.PagedListPager(Model, (page) => Url.Action("All", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
}